streamlit
streamlit-authenticator
bcrypt
pandas
numpy
scipy
scikit-learn
biopython
altair
vega-datasets
matplotlib
seaborn
plotly
requests
pyyaml
python-dateutil
rich
psutil
newick
pyfastx
scikit-image
pyngoST
chewbbaca
quast
